.app-image, .app-logo {
    max-width: 250px; 
    height: auto; 
}

.app-logo {
    margin-bottom: -20px;
}
.x {
    background-color: #5FBB97;
    color: white;
}

.clickable-text {
    color: #5FBB97;
}