.mobile-nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-bar-images {
    display: flex;
    flex: 1; /* Allow the images to flex and fill the available space */
    justify-content: space-between; /* Distribute space between images */
    padding: 0 20px; /* Adjust padding to control distance from screen edges */
  }
  
  .nav-bar-item {
    margin: 0;
  }
  
  .nav-bar-image {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  