/* .expense-categories {
    text-align: center;
    padding: 20px;
  }
  
  .category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .category-square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
  }
  
  .category-square.selected {
    background-color: #3498db;
    color: white;
    border-color: #3498db;
  }

  .category-image {
    margin-bottom: 10px;
  }
  
  .category-image img {
    width: 30%;
    height: 30%;
  } */
  
  .expense-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    max-width: 600px; /* Adjust this value as needed */
    flex-direction: row; /* Display in rows */
  }
  
  .category-square {
    width: calc(33.33% - 10px); /* Adjust the width for three columns */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
  }
  
  .category-square.selected {
    background-color: #3498db;
    color: white;
    border-color: #3498db;
  }
  
  .category-image {
    margin-bottom: 10px;
  }
  
  .category-image img {
    width: 30%;
    height: 30%;
  }
  