#step-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
}

#step-container > div {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    border: 1px solid #bbb;
}

.LogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5vh;
}

.GettingStartedButtonGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.GettingStartedMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.GettingStartedContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.start-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5vh;
    margin-top: 5vh;
    max-width: 500px;
}

.start-content-div {
    margin-top: 16px;
    margin-bottom: 4vh;
}

.StartedContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500;
}