/* CSS Custom Properties */
:root {
  --darkgreen: #1b3022;
  --mint: #5fbb97;
  --gray: #837a75;
  --lavender: #dadff7;
  --gold: #f4b949;
  --success: #1b3022;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.form-container {
  width: 100%;
  max-width: 800px;
  text-align: left;
}

.form-container label {
  font-size: 1.2rem;
  font-weight: 600;
}